altgraph==0.17.2
appdirs==1.4.4
beautifulsoup4==4.6.3
capstone==4.0.2
cbor==1.0.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==7.1.2
cmsis-pack-manager==0.2.10
colorama==0.3.9
cryptography==3.4.8
fasteners==0.17.3
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
hidapi==0.7.99.post21
idna==2.7
intelhex==2.3.0
intervaltree==3.1.0
iso8601==1.0.2
Jinja2==3.1.2
joblib==1.1.0
jsonschema==2.6.0
junit-xml==1.8
libusb-package==1.0.26.0
lockfile==0.12.2
lxml==4.9.1
macholib==1.16
MarkupSafe==2.1.1
mbed-cli==1.10.5
mbed-greentea==1.8.14
mbed-host-tests==1.8.14
mbed-ls==1.8.14
mbed-os-tools==1.8.14
mbed-tools==7.55.0
milksnake==0.1.5
modulegraph==0.19.2
msgpack==1.0.4
natsort==8.1.0
neovim==0.3.1
numpy==1.23.1
pandas==1.4.3
prettytable==2.5.0
psutil==5.6.7
py2app==0.28.2
pycparser==2.21
pycryptodome==3.15.0
pydotplus==2.0.2
pyelftools==0.28
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pylink-square==0.14.1
pynvim==0.4.3
pyocd==0.34.1
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyqtgraph==0.12.4
pyserial==3.5
PySide6==6.3.1
PySide6-Addons==6.3.1
PySide6-Essentials==6.3.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
pyusb==1.2.1
PyYAML==6.0
requests==2.28.1
scikit-learn==1.1.1
scipy==1.8.1
serial==0.0.97
shiboken6==6.3.1
six==1.12.0
sklearn==0.0
smmap==5.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tabulate==0.8.10
threadpoolctl==3.1.0
tqdm==4.64.0
typing_extensions==4.3.0
urllib3==1.26.11
wcwidth==0.2.5
